# variables de entorno para desarrollo local

# Genera tu propia SECRET_KEY con este comando:
# python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=genera-tu-propia-clave-aqui

# Django
DEBUG=True

# Base de datos local (cada uno configura sus propias credenciales)
DB_NAME=bancadb
DB_USER=postgres
DB_PASSWORD=tu_password_local
DB_HOST=localhost
DB_PORT=5432