# variables de entorno para desarrollo local

# Genera tu propia SECRET_KEY con este comando:
# python manage.py shell -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=genera-tu-propia-clave-aqui

# Django
DEBUG=True

# Base de datos Neon
DB_NAME=bancadb
DB_USER=Lo paso por wsp
DB_PASSWORD=Lo paso por wsp
DB_HOST=Lo paso por wsp
DB_PORT=5432