# Ignorar entornos virtuales
env/
.venv/

# Ignorar archivos compilados de Python
__pycache__/
*.pyc

# Ignorar variables de entorno
.env

# Ignorar logs de scripts con listas de usuarios
scripts/*.txt

# Ignorar base de datos SQLite (usamos PostgreSQL)
db.sqlite3