# Django y base de datos
Django>=5.0
psycopg2-binary>=2.9

# Variables de entorno
python-decouple>=3.8

# Django REST Framework (para API futura)
djangorestframework>=3.14

# Machine Learning
scikit-learn>=1.3
pandas>=2.0
numpy>=1.24
joblib>=1.3

# Pruebas de concurrencia
locust>=2.20

# Seguridad adicional
django-ratelimit>=4.1